.Search {
    display: flex;
    flex-direction: column;
  }
  
  .Search-select {
    font-size: 1rem;
    margin: 16px 0;
    border-radius: 8px;
    padding: 8px;
    border: none;
  }
  
  .Search-continue {
    margin-left: auto;
  };

  .button{
    background: #293684;
    color: white;
    border: none;
    font: bold;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-left: auto;
  }

  .button:hover{
    background: #4e599b;
    color: white;
    cursor: pointer;
  }